.section-sobre div#feito-por {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}
.section-sobre div.redes-sociais {
    display: flex;
    flex-direction: column;
}

.section-sobre div.coluna-itens {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0;
}
.section-sobre a.estatico {
    background-color: #16817a;
}

.section-sobre a.estatico h2 {
    padding: 0px;
    margin: 0px;
}

.section-sobre div a img {
    width: 75px;
}

@media screen and (min-width: 768px) {
    .section-sobre div.redes-sociais {
        flex-direction: row;
    }
}