/*
GERAL
*/
* h2 {
    background-color: rgba(24, 0, 21, 0.322);
}

body {
    font-family: 'Dosis', sans-serif;
    background-color: #024249;
    color: white;
    font-size: 1.2em;
}

nav  img {
    background-color: #00303581;
    padding: 15px 15px 0px 15px;
}

nav, footer, nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
MENU
*/

nav {
    background-color: #0242499c;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    width: 100%;
    text-align: center;
}

nav ul li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: black;
    text-decoration: underline;
    background-color: rgb(255, 255, 255);
}

/*
CONTEÚDO
*/

section {
    background-color: #16817a;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

section a {
    margin: 10px;
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
    color: black;
}

section a:hover {
    background-color: #024249;
    color: white;
}

div.codigo p.codigo {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.329);
    padding: 20px;
    text-align: left;
    font-family: 'Dosis', sans-serif;
    text-indent: 0px;
}

/*
RODAPÉ
*/

footer {
    background-color: #024249;
}

footer p {
    font-size: 0.7em;
    font-family: monospace, Helvetica, Arial, sans-serif;
}

footer img {
    margin-left: 10px;
}

/*
MEDIA QUERIES
*/

@media screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 70%;
    }

    section {
        min-height: 75vh;
        justify-content: center;
    }

    div.texto {
        text-align: center;
    }

    div.texto p {
        text-align: left;
        text-indent: 30px;
        font-family: 'Dosis', sans-serif;
    }

    div.codigo p.codigo {
        width: 300px;
    }

    footer {
        max-height: 1vh;
    }
}